@font-face {
  font-family : 'MBold';
  src : url(/public/font/Maplestory\ Bold.ttf)
}
@font-face {
  font-family : 'MLight';
  src : url(/public/font/Maplestory\ Light.ttf)
}

html, body {
  flex: 1;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex: 1;
}

* {
  font-family: MLight;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}